<div class="main">
    <div class="content">
        <div class="title">
            <h1>Merci pour votre retour</h1>
        </div>
        <div>
            <p>Nous avons bien enregistré votre avis pour le voyage que vous avez effectué !<br> Merci nous le prendrons
                en compte pour nous améliorer.</p>
        </div>
        <div class="btnReturn">
            <button class="btn btn-success" (click)="returnHome()">
                Accueil
            </button>
        </div>
    </div>
</div>