<div class="main">
    <div class="content">
        <div class="title">
            <h1>Connexion</h1>
        </div>
        <div id="connectionForm">
            <form [formGroup]= "loginForm" (ngSubmit) = "loginSubmit()">
                <div class="form-group">
                    <label for="login">Login</label>
                    <input id="login" class="form-control" type="text" formControlName = "login">
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input id="password" class="form-control" type="password" formControlName = "password">
                </div>
                <div class="form-group submitGrp">
                    <button class="btn btn-success" [disabled]="!loginForm.valid">Se connecter</button>
                </div>
            </form>
            <div *ngIf="hasError" class="error">
                {{ errorMessage }}
            </div>
        </div>
    </div>
</div>