<div class="main">
    <div class="content">
        <div class="trip">
            <div class="title">
                <h3>{{ trip.label }}</h3>
            </div>
            <div class="imageAndTexte">
                <img src="{{ trip.imagePath }}" alt="">
                <p>{{ trip.description }}</p>
            </div>
            <div class="destination">
                <span>Destination : {{ trip.destination }}</span>
            </div>
            <div *ngIf="dates.length > 0" class="price">
                <span>Prix : {{ price }} € TTC/ personne</span>
            </div>
            <div class="tripInstances">
                <form *ngIf="dates.length > 0" [formGroup] = "reservationForm" (ngSubmit)="reservationSubmit()">
                    <div class="form-group">
                        <label for="tripInstances">Dates disponibles : </label>
                        <select class="form-control" #mySelect name="Dates" id="tripInstances" (change)='onOptionsSelected(mySelect.value)' formControlName="dates">
                            <option *ngFor="let date of dates; let i = index"  value="{{ date.id }}" [selected] = "i==0">Du {{ date.beginDate | date:'dd/MM/yyyy' }}
                                au {{ date.endDate | date:'dd/MM/yyyy' }} - {{ trip.maxPerson - date.currentPerson  }} places</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success">
                            Réserver
                        </button>
                    </div>                   
                </form>
            </div>
            <div *ngIf="dates.length == 0" class="notAvailable">
                Ce voyage n'est pas disponible pour le moment...
            </div>
        </div>
    </div>
</div>