<div class="main">
    <div class="content">
        <div class="title">
            <h1>Mes réservations</h1>
        </div>
        <div>
            <table *ngIf="notEmpty" class="table"> 
                <thead>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Voyage</th>
                        <th scope="col">Arrivé</th>
                        <th scope="col">Départ</th>
                        <th scope="col">Nb personne</th>
                        <th scope="col">Prix par personne</th>
                        <th scope="col">Date de réservation</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Payé</th>
                        <th scope="col">Avis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let o of data; let i = index">
                        <td>{{ o.booking.id }}</td>
                        <td>{{ o.trip.body.trip.label }}</td>
                        <td>{{ o.trip.body.beginDate | date:'dd/MM/yyyy'}}</td>
                        <td>{{ o.trip.body.endDate | date:'dd/MM/yyyy'}}</td>
                        <td>{{ o.booking.nbPerson }}</td>
                        <td>{{ o.trip.body.price  | currency:'EUR':''}} €</td>
                        <td>{{ o.booking.date | date:'dd/MM/yyyy'}}</td>
                        <td *ngIf="o.booking.status == 1">A venir</td>
                        <td *ngIf="o.booking.status == 2">En cours</td>
                        <td *ngIf="o.booking.status == 3">Terminé</td>
                        <td *ngIf="o.booking.status == 4">Terminé</td>
                        <td class="paid" *ngIf="o.booking.payed"><fa-icon [icon]="faCheckCircle"></fa-icon></td>
                        <td class="warning" *ngIf="!o.booking.payed"><a (click)="goToPayment(i)"><fa-icon [icon]="faExclamationCircle"></fa-icon> Payer ici !</a></td>
                        <td *ngIf="o.booking.status != 3"> - </td>
                        <td *ngIf="o.booking.status == 3"><a [routerLink]="['/comment', o.trip.body.trip.id, o.booking.id]">Donnez votre avis</a></td>
                    </tr>
                </tbody>
            </table>
            <div class="noResa" *ngIf="!notEmpty">
                <p>Aucune réservation n'est associé à ce compte...</p>
            </div>
        </div>
    </div>
</div>