<div class="main">
    <div class="content">
        <div class="title">
            <h2>Liste des voyages de la catégorie {{ category.label }}</h2>
        </div>
        <div class="listTrip">
            <div *ngFor="let trip of listTrip" class="trip">
                <h4>{{ trip.label }}</h4>
                <span>Destination : {{ trip.destination }}</span>
                <img src="../../assets/montagne.jpg" alt="">
            </div>
            <div *ngIf="listTrip.length == 0">
                Aucun voyage associé à cette catégorie n'a été trouvé...
            </div>
        </div>
    </div>
</div>