.content{
    height: inherit;
    opacity: 1;
}

.listTrip{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.trip{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 40px;
    border-bottom: solid 1px #C3C3C3;
    width: 80%;
}

.trip img{
    width: 400px;
}